<h1>Sign In</h1>

<ul>
  <% if flash[:errors] %>
    <% flash[:errors].each do |err| %>
      <li><%= err %></li>
    <% end %>
  <% end %>
</ul>

<form action="<%= session_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="Username">Username</label>
  <input type="text" name="user[username]" id="Username">

  <br><br>

  <label for="Password">Password</label>
  <input type="password" name="user[password]" id="Password">

  <br><br>

  <input type="submit" value="Sign In">
</form>
